<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
	<title>Asset Director</title>
</head>


<body>


<div class="container">
	<h3>Booking List</h3>
	<hr>
	
	<b class="h4 mb-4">Asset Name:</b>
		<br>
		<b class="h5 mb-5" th:text="${asset.assetName}"></b>
		<br><br/>
		<b class="h4 mb-4">Asset Type:</b>
		<br>
		<b class="h5 mb-5" th:text="${asset.assetType}"></b>
		<br><br/>
		<b class="h4 mb-4">Asset Owner's Email:</b>
		<br>
		<b class="h5 mb-5" th:text="${asset.assetOwnerEmail}"></b>
		<br><br/>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Booker First Name</th>
				<th>Booker Last Name</th>
				<th>Booker Email</th>		
				<th>Start of Booking</th>
				<th>End of Booking</th>
				
	
			</tr>
		</thead>
	
	
		<tbody>
			<tr th:each="tempBooking : ${bookings}">
			
				<td th:text="${tempBooking.bookerFirstName}"/>
				<td th:text="${tempBooking.bookerLastName}"/>
				<td th:text="${tempBooking.bookerEmail}"/>
				<td th:text="${tempBooking.startOfBooking}"/>
				<td th:text="${tempBooking.endOfBooking}"/>
				
			</tr>
		</tbody>
		
	</table>

</div>

<div class="container">
	
	<hr>
		<a th:href="@{/assets/list}">Back to Asset List</a>
		
	
	
	</div>

</body>
 </html>
