<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


	<title>Save Asset</title>
</head>

<body>

	<div class="container">
	
		<h3>Asset Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Asset</p>
		
		<form action="#" th:action="@{/assets/save}"
						 th:object="${asset}" method="POST">
					
				<!-- Add hidden form field to handle the update -->	
				
				<input type="hidden" th:field="*{id}"/>
						 
				<input type="text" th:field="*{assetName}"
					   class="form-control mb-4 col-4" placeholder="Asset Name">
					   
				<input type="text" th:field="*{AssetType}"
					   class="form-control mb-4 col-4" placeholder="Asset Type">
					   
				<input type="text" th:field="*{assetOwnerEmail}"
					   class="form-control mb-4 col-4" placeholder="Email">
					   
				<input type="text" th:field="*{homeLocation}"
					   class="form-control mb-4 col-4" placeholder="Home Location">
		
				<button type="submit" class="btn btn-info col-2">Save</button>
		
		</form>
		
		<hr>
		<a th:href="@{/assets/list}">Back to Asset List</a>
	
	</div>

</body>
 </html>
