<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


	<title>Bookings Page</title>
</head>

<body>

<div class="container">

 <h3>Bookings Page</h3>
		<hr>
		
</div>

<div class="container">
  <div class="row">
  
	
	<div class="col-4">
	
		<b class="h4 mb-4">Asset Name:</b>
		<br>
		<b class="h5 mb-5" th:text="${asset.assetName}"></b>
		<br><br/>
		<b class="h4 mb-4">Asset Type:</b>
		<br>
		<b class="h5 mb-5" th:text="${asset.assetType}"></b>
		<br><br/>
		<b class="h4 mb-4">Asset Owner's Email:</b>
		<br>
		<b class="h5 mb-5" th:text="${asset.assetOwnerEmail}"></b>
		<br><br/>
		
		
		<form action="#" th:action="@{/assets/saveBooking}"
						 th:object="${booking}" method="POST">
					
				<!-- Add hidden form field to handle the update -->	
		
				<input type="hidden" th:field="*{assetId}"/>  
						 
				<input type="text" th:field="*{bookerFirstName}" 
					   class="form-control mb-3 col-7" placeholder="Booker First Name">
			  	<p th:if="${#fields.hasErrors('bookerFirstName')}"  th:errors="*{bookerFirstName}">Error</p>	   
					   
				<input type="text" th:field="*{bookerLastName}"
					   class="form-control mb-3 col-7" placeholder="Booker Last Name">
					   
				<input type="text" th:field="*{bookerEmail}"
					   class="form-control mb-3 col-7" placeholder="Booker Email">
				   
				<input type="date" th:field="*{startOfBooking}"
					   class="form-control mb-3 col-7" placeholder="startOfBooking">
					   
				<input type="date" th:field="*{endOfBooking}"
					   class="form-control mb-3 col-7" placeholder="endOfBooking">	   	   
		
				<button type="submit" class="btn btn-info col-3" onclick="if (!(confirm('Are you sure you want to book this asset?'))) return false">Save</button>
		
		</form>
		
		
	</div>
	
	<div class="col-8">
	
	<h2>Bookings</h2>
	
	
	<table class="table table-bordered table-striped table-hover w-auto small">
		<thead>
			<tr class="bg-info text-light">
				<th>Booker First Name</th>
				<th>Booker Last Name</th>
				<th>Booker Email</th>		
				<th>Start of Booking</th>
				<th>End of Booking</th>
				<th>Delete Booking</th>
						
			</tr>
		</thead>
	
	
		<tbody>
			<tr th:each="tempBookings : ${bookingslist}">
			
				<td th:text="${tempBookings.bookerFirstName}"/>
				<td th:text="${tempBookings.bookerLastName}"/>
				<td th:text="${tempBookings.bookerEmail}"/>
				<td th:text="${tempBookings.startOfBooking}"/>
				<td th:text="${tempBookings.endOfBooking}"/>
				<td>
				
				<a 
			th:href="@{/assets/deletebooking(bookingId=${tempBookings.bookingId} ,assetId=${tempBookings.assetId})}"
		    class="btn btn-danger btn-sm"
		    onclick="if (!(confirm('Are you sure you want to delete this booking?'))) return false">
			Delete
				</a>
				
				</td>
				
			</tr>
			
		</tbody>
		
	</table>
	
	</div>
	
	<div class="container">
	
	<hr>
		<a th:href="@{/assets/list}">Back to Asset List</a>
		
	
	
	</div>



 </div>
</div>
</body>
 </html>
