<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
	<title>Asset List</title>
</head>


<body>

<div class="container">

	<h3>Asset List</h3>
	<hr>
	
	<!-- add a button -->
	<a th:href="@{/assets/showFormForAdd}"
	   class="btn btn-info btn-lg mb-3">
		Add Asset
	</a>
	
	<a th:href="@{/home}"
	   class="btn btn-info btn-lg mb-3">
		Go Home
	</a>

</div>


<div class="container">

	<h4>Filter Buttons:</h4>
	
	
	<a th:href="@{/assets/list}"
	   class="btn btn-warning btn-sm mb-3">
		All Tools
	</a>
	
	<a th:href="@{/assets/list/handtools}"
	   class="btn btn-warning btn-sm mb-3">
		Hand Tools
	</a>
	
	<a th:href="@{/assets/list/powertools}"
	   class="btn btn-warning btn-sm mb-3">
		Power Tools
	</a>
	
	<a th:href="@{/assets/list/machinetools}"
	   class="btn btn-warning btn-sm mb-3">
		Machine Tools
	</a>
	
	</div>

<div class="container" style="height:700px;overflow:auto">	
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr class="bg-info text-light">
				<th>Asset Name</th>
				<th>Asset Type</th>
				<th>Owner Email</th>		
				<th>Id</th>
				<th>Bookings</th>
				<th>Update</th>
						
			</tr>
		</thead>
	
	
		<tbody>
			<tr th:each="tempAsset : ${assets}">
			
				<td th:text="${tempAsset.assetName}"/>
				<td th:text="${tempAsset.assetType}"/>
				<td th:text="${tempAsset.assetOwnerEmail}"/>
				<td th:text="${tempAsset.id}"/>
				<td>
				
					<a th:href="@{/assets/showFormForBooking(assetId=${tempAsset.id})}"
					   class="btn btn-warning btn-sm">
						Bookings Page
					</a>
				</td>
				
				<td>	
					<a th:href="@{/assets/showFormForUpdate(assetId=${tempAsset.id})}"
					   class="btn btn-warning btn-sm">
						Update Asset
					</a>
				</td>
				
				
			</tr>
			
		</tbody>
		
	</table>

</div>

</body>
 </html>
