<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
	<title>Home Page</title>
</head>


<body>


<div class="container">
	<h3>Home Page</h3>
	<hr>

</div>

<div class="container">

	<a th:href="@{/assets/list}"
	   class="btn btn-primary btn-lg mb-3">
		List All Assets
	</a>
	
	<br><br/>
	
	<a th:href="@{/assets/list/handtools}"
	   class="btn btn-primary btn-sm mb-3">
		Hand Tools
	</a>
	
	<a th:href="@{/assets/list/powertools}"
	   class="btn btn-primary btn-sm mb-3">
		Power Tools
	</a>
	
	<a th:href="@{/assets/list/machinetools}"
	   class="btn btn-primary btn-sm mb-3">
		Machine Tools
	</a>
	
	<a th:href="@{/assets/list/bristol}"
	   class="btn btn-primary btn-sm mb-3">
		Bristol
	</a>
	
	<a th:href="@{/assets/list/bath}"
	   class="btn btn-primary btn-sm mb-3">
		Bath
	</a>
	
	<a th:href="@{/assets/list/portishead}"
	   class="btn btn-primary btn-sm mb-3">
		Portishead
	</a>
	
	<div>
	
	<table class="table table-bordered table-striped table-hover">
		<thead class="thead-dark">
			<tr>
				<th>Locations</th>
				
						
			</tr>
		</thead>
	
	
		<tbody>
			<tr th:each="tempLocation : ${locations}">
			
				<td th:text="${tempLocation}"/>
			
				
			</tr>
			
		</tbody>
		
	</table>
	
	
	</div>
	
</body>
 </html>
