<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
	<title>Home Page</title>
</head>


<body>


<div class="container">
	<h3>Asset Booking System</h3>
	<hr>

</div>

<div class="container">

	<a th:href="@{/assets/list}"
	   class="btn btn-warning btn-lg mb-3 center">
		List All Assets
	</a>
	
	<br><br/>
	
	<h4>Filter Buttons:</h4>
	
	<a th:href="@{/assets/list/handtools}"
	   class="btn btn-info btn-sm mb-3">
		Hand Tools
	</a>
	
	<a th:href="@{/assets/list/powertools}"
	   class="btn btn-info btn-sm mb-3">
		Power Tools
	</a>
	
	<a th:href="@{/assets/list/machinetools}"
	   class="btn btn-info btn-sm mb-3">
		Machine Tools
	</a>
	</div>
	
</body>
 </html>
